<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Phase1 Suite">

    <listeners>
        <listener class-name="listeners.Listener"></listener>
    </listeners>

<!--    <test name="Test" >-->
    <test thread-count="1" name="Test" >

    <classes>
            <class name="Tests">
                <methods>
                    <include name="userLoginWithUnregisteredEmail"></include>
                    <include name="toVerifyItemsAreAddedToCartCorrectly"></include>
                    <include name="toVerifyAccountListItems"></include>




                </methods>
            </class>

        </classes>
    </test>
</suite>