<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Phase1 Suite">

    <test name="Test Cases">
        <classes>
            <class name="TestCases.Login">
                <methods>
                    <include name="loginWithValidCreds"></include>
                    <include name="loginWithInvalidCreds"></include>

                </methods>
            </class>

            <class name="TestCases.Cart">
                <methods>
                    <include name="cartQuantity"></include>

                </methods>
            </class>


            <class name="TestCases.MultipleTest">
                <methods>
                    <include name="multipleTestCases"></include>

                </methods>
            </class>

        </classes>
    </test>
</suite>